form#join-form(action="/join", method="post")
  input.join-form-input(name="username", type="text")
  input.join-form-input(name="email", type="email")
  input.join-form-input(name="password", type="password")
  input(type="submit")
