div#header-wrapper
  div#header
    .header-title BFF's
    if !logged_in
      form#login-section(method="post", action="/login")
        input#username(name="email")
        input#password(name="password", type="password")
        input.submit(type="submit")
    if logged_in
      a.logout-link(href="/logout") Logout
