html{
  font-size: 16;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 2000px;
}

a {
  color: #00B7FF;
}

div{
  display: inline-block;
}

#content{
  margin-top: 10rem;
}

#header-wrapper{
  position: fixed;
  height: 8rem;
  padding: 1.5rem;
  width: 100%;
  border: none;
}

#header{
  width: 95%;
  border: none;
  height: 6rem;
  text-align: center;
}

.header-title{
  font-size: 3rem;
}

.submit{
  display: none;
}

input{
  height: 1.5rem;
  width: 12rem;
  margin-left: 1.5rem;
}

#login-section{
  float: right;
}

.logout-link{
  float: right;
}
