html{
  font-size: 16;
}

body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 2000px;
}

a {
  color: #00B7FF;
  text-decoration: none !important;
}

.interactive-element{
  color: #00B7FF;
  cursor: pointer;
}

.right{
  float: right !important;
}

div{
  display: inline-block;
  vertical-align: top;
}

#content{
  display: block;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

#header-wrapper{
  padding: 1rem;
  width: 100%;
  border: none;
  background-color: rgba(157, 154, 213, 0.12);
}

.header-menu li{
  display: inline-block;
  margin-right: 1rem;
}

#header{
  width: 98%;
  border: none;
  text-align: center;
}

.header-title{
  font-size: 3rem;
}

.submit{

}

input{
  height: 1.5rem;
  width: 12rem;
  margin:1.5rem 0;
  display: block;
}

#login-section{
  float: right;
}

.logout-link, lo{
  float: right;
}

.user-list{
  padding: 3rem;
}

.user-list-heading{
  font-size: 2rem;
}

.user-list-line{
  font-size: 1rem;
  display: inline-block;
}

.user-list-line::after{
  content: "_ _";
}

.header-menu{
  float: left;
}

.post-wrapper{
  margin: 1rem auto;
  text-align: left;
  display: block;
  width: 600px;
  border: solid 1px black;
  border-radius: 2px;
  padding: 1rem;
}

.post-header{
  width: 100%;
  position: relative;
}

.testdiv{
  width: 200px;
  height: 200px;
  background: blue;
}

.post-author{
  font-size: 1.5rem;
  float: left;
}

.post-content{
  margin-top: 1rem;
  display: block;
}

.post-form{
  margin: auto;
  width: 600px;
}

.post-time{
  float: right;
  margin-right: 2rem;
}

.post-body{
  display: block;
}

.post-footer{
  margin-top: 2rem;
  width: 100%;
}

.post-footer-link{
  margin-right: 2rem;
}

.post-comment-input{
  width: 100%;
  margin: 1rem 0;
}

.post-comment-form{
  display: none;
}

.remove-link{
  position: absolute;
  right: 0;
}

.admin-remove-link{
  
}
